@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Montserrat:wght@100;200&family=Oxygen&display=swap');

/* Couleurs */
:root {
	--main: #2c2c54;
}

/**--------------------------------------------------

| ___ \  ___/  ___|  ___|_   _| /  __ \/  ___/  ___|
| |_/ / |__ \ `--.| |__   | |   | /  \/\ `--.\ `--. 
|    /|  __| `--. \  __|  | |   | |     `--. \`--. \
| |\ \| |___/\__/ / |___  | |   | \__/\/\__/ /\__/ /
\_| \_\____/\____/\____/  \_/    \____/\____/\____/ 

--------------------------------------------------**/

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**--------------------------------------------------
_____  _     ___________  ___   _     
|  __ \| |   |  _  | ___ \/ _ \ | |    
| |  \/| |   | | | | |_/ / /_\ \| |    
| | __ | |   | | | | ___ \  _  || |    
| |_\ \| |___\ \_/ / |_/ / | | || |____
 \____/\_____/\___/\____/\_| |_/\_____/

--------------------------------------------------**/
html {
	box-sizing: border-box;
	font-size: 62.5%;
	background-color: #f6f6ff;
	opacity: 0.8;
	background-image: linear-gradient(0deg, #f6f6ff 50%, #ffffff 50%);
	background-size: 10px 10px;
}
*, *:before, *:after {
	box-sizing: inherit;
}

main, footer {
	max-width: 1200px;
	margin: 0 auto;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Montserrat', sans-serif;

}
main {
	flex-grow: 1;
	line-height: 1.2;
		font-weight: 600;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 3rem;
	font-weight: 800;
	color: var(--main);
	text-transform: uppercase;
}
h2 {
	font-size: 2.7rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.8rem;
}
header, h1, #profil {
	text-align: center;
}
section {
	margin: 5% 0;
}
section h1 {
	border-bottom: 2px solid var(--main);
	padding: 5px 0;
	margin-bottom: 1%;
}
section img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

/**--------------------------------------------------

| | | ||  ___|/ _ \|  _  \  ___| ___ \
| |_| || |__ / /_\ \ | | | |__ | |_/ /
|  _  ||  __||  _  | | | |  __||    / 
| | | || |___| | | | |/ /| |___| |\ \ 
\_| |_/\____/\_| |_/___/ \____/\_| \_|

--------------------------------------------------**/
header {
	background-image: url("../assets/img/pexels-kelly-rabie-1878095.jpg");
	background-size: cover;
	background-position: center;
	width: 100vw;
	border-bottom: 5px solid var(--main);
}

header nav {
	margin: 3% 0;
	display: flex;
	justify-content: center;
}

header nav ul {
	text-align: center;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	display: block;
	padding: 15px;
	font-size: 2.5rem;
	text-decoration: none;
	color: var(--main);
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
	position: relative;
	text-shadow: #f7f1e3 2px 2px 20px;
}

header nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}
header nav ul li a:hover {
	color: #9c8eab;
}

header nav ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #706fd3;
	height: 1px;
}

header nav ul li a:hover:after {
	width: 100%;
}

header article {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header img {
	width: 90%;
	margin: 0 auto;
}

/**--------------------------------------------------
___  ___  ___  _____ _   _ 
|  \/  | / _ \|_   _| \ | |
| .  . |/ /_\ \ | | |  \| |
| |\/| ||  _  | | | | . ` |
| |  | || | | |_| |_| |\  |
\_|  |_/\_| |_/\___/\_| \_|

--------------------------------------------------**/
main {
	padding: 3% 1% 1%;
}
#competences, #formations {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#competences h1, #formations h1 {
	width: 100%;
}

#compenteces article, #formations article {
	width: 33%;
}

/** Profil **/

section img {
	width: 8%;
	margin: 2% auto;
}

/** Expériences **/

#experiences .job {
	margin: 3% 0;
}

#experiences .title h2 {
	text-transform: uppercase;
}

#experiences .job h4 {
	display: inline-block;
	border-bottom: 1px dashed var(--main);
	margin: 1% 0;
}

#experiences .title {
	color: white;
	background-color: rgba(94, 76, 112, 0.5);
	backdrop-filter: blur(8px);
	padding: 3%;
	margin-bottom: 2%;
}

#experiences .detail p, #experiences .detail ul {
	margin-bottom: 10px;
}

#experiences ul li {
	list-style: disc;
	margin-left: 40px;
}

#experiences .detail img {
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}

/** Formations **/

#formations article {
	display: flex;
	flex-wrap: wrap;
}

#formations .content h3 {
	margin-bottom: 7%;
}

#formations div {
	width: 100%;
}

#formations article {
	width: 33%;
}

.side  {
	width: 20%;
	float: left;
}

.content {
	width: 80%;
}

/** Compétences **/

#competences article h2 {
	margin-bottom: 4%;
	padding: 3% 0;
	border-bottom: 1px dashed var(--main);
}

#competences article {
	width: 20%;
	text-align: center;
}

#competences div {
	width: 100%;
}

/** Contact **/

#contact h1 {
	width: 100%;
}

#contact a {
	display: inline-block;
}

#contact nav {
	margin: 3% 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

#contact a {
	margin: 2% 2% 0;
	font-size: 5rem;
}

#contact p {
	margin-top: 30px;
	text-align: center;
}

/* RESPONSIVE */
@media (max-width: 1350px) {
	header img {
		width: 80%;
		margin: 0 auto;
	}
}
@media (max-width: 1023px) {
	header img {
		width: 70%;
		margin: 0 auto;
	}

	main {
		max-width: 700px;
	}

	#experiences article {
		margin-bottom: 50px;
	}

	#formations article {
		width: 100%;
		margin-bottom: 50px;
	}

	#competences article {
		width: 50%;
	}
}

@media (max-width: 750px) {
	main {
		padding: 0 3%;
	}

		#experiences .detail p, #experiences .detail ul {
		margin-bottom: 20px;
	}
}

@media (max-width: 750px) {
		#competences article {
		width: 100%;
	}
}


